<div class="container py-3">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-white">Planes</h1>
    <p class="fs-1 text-white text-center">
      ¡Aprovecha nuestras soluciones innovadoras y da el siguiente paso en la
      evolución de tu negocio! ¡Echa un vistazo a nuestros planes y encuentra el
      que mejor se adapte a tus necesidades!
    </p>
  </div>

  <main class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-dark border-success">
          <div class="card-header py-3 border-success">
            <h4 class="my-0 fw-normal text-white">Estandar</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-warning">
              $25.000<small class="text-muted fw-light">/mo</small>
            </h1>
            <p class="text-white text-justify">
              Diseñado para pequeñas empresas que buscan un software de
              administración fácil de usar y con las funciones esenciales para
              gestionar su negocio. Incluye módulos básicos como contabilidad,
              facturación y gestión de clientes.
            </p>
            <button type="button" class="w-100 btn btn-md btn-outline-success">
              Subcribirse
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-dark border-success">
          <div class="card-header py-3 border-success">
            <h4 class="my-0 fw-normal text-white">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-warning">
              $45.000<small class="text-muted fw-light">/mo</small>
            </h1>
            <p class="text-white text-justify">
              Ideal para empresas en crecimiento que necesitan funcionalidades
              adicionales y personalización para adaptarse a sus necesidades
              específicas. Incluye todo lo del Plan Básico, además de módulos
              avanzados como gestión de inventario, recursos humanos y análisis
              de ventas.
            </p>
            <button type="button" class="w-100 btn btn-md btn-success">
              Subcribirse
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-dark border-success">
          <div class="card-header py-3 text-bg-success border-success">
            <h4 class="my-0 fw-normal text-white">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-warning">
              $99.000<small class="text-muted fw-light">/mo</small>
            </h1>
            <p class="text-white text-justify">
              Para empresas que requieren una gestión integral y avanzada de
              todos los aspectos de su negocio. Incluye todas las funciones y
              módulos del Plan Avanzado, además de soporte prioritario,
              integraciones personalizadas y formación continua.
            </p>
            <button type="button" class="w-100 btn btn-md btn-success">
              Subcribirse
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
