<!DOCTYPE html>
<html lang="es-CL" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>SubRed Ingenieria</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicons/favicon.ico">
    <link rel="manifest" href="img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="vendors/prism/prism.css" rel="stylesheet">
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="css/theme.min.css" rel="stylesheet" />

  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark py-0" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="img/Logo.png" alt="SubRed Ingenieria"
          width="200"
          height="100"
          class="d-inline-block align-text-top"/></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars text-white fs-3"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" href="servicios">Servicios</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" href="planes">Planes</a></li>
              <li class="nav-item mt-2 mt-lg-0"><a class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page" href="login">Ingresar</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="bg-dark"><img class="img-fluid position-absolute end-0" src="img/hero/hero-bg.png" alt="" />

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section>
          <div class="container">
            <div class="row align-items-center py-lg-5 py-5">
              <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white fs-5 fs-xl-6">En estos tiempos es fundamental para todas las empresas.</h1>
                <p class="text-white py-lg-3 py-2">Conocer e implementar nuevos procesos digitales. <br>Es por esta razón que <strong>SubRed</strong> lanzó una nueva funcionalidad. <br><span class="text-success">ERP LOW COST</span>.</p>
                <div class="d-sm-flex align-items-center gap-3">
                  <a href="/login">
                    <button class="btn btn-success text-black mb-3 w-100">Registrarse</button>
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=56996985294" target="_blank">
                    <button class="btn btn-outline-light mb-3 w-100">Contactanos</button>
                  </a>
                </div>
                
              </div>
              <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0"><img class="img-fluid" src="img/hero/hero-graphics.png" alt="" /></div>
            </div>
            <div class="swiper">
              <div class="swiper-container swiper-shadow swiper-theme mt-2" data-swiper='{"slidesPerView":2,"breakpoints":{"640":{"slidesPerView":2,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":40},"992":{"slidesPerView":5,"spaceBetween":40},"1024":{"slidesPerView":4,"spaceBetween":50},"1025":{"slidesPerView":6,"spaceBetween":50}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"freeMode":true,"autoplay":{"delay":2500,"disableOnInteraction":false}}'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide text-center"><img src="img/logos/logo-sii.png" alt="" width="100"height="45"/></div>
                  <div class="swiper-slide text-center"><img src="img/logos/gob.svg" alt="" width="100"height="45"/></div>
                  <div class="swiper-slide text-center"><img src="img/logos/bancocentral.png" alt="" width="100"height="45"/></div>
                  <div class="swiper-slide text-center"><img src="img/logos/previred.svg" alt="" width="100"height="45"/></div>
                  <div class="swiper-slide text-center"><img src="img/logos/aws.png" alt="" width="100"height="45"/></div>
                  <div class="swiper-slide text-center"><img src="img/logos/google.png" alt="" width="100"height="45"/></div>
                </div>
              </div>
            </div>
          </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/anchorjs/anchor.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/prism/prism.js"></script>
    <script src="vendors/swiper/swiper-bundle.min.js"></script>
    <script src="js/theme.js"></script>
  </body>

</html>