<!DOCTYPE html>
<html lang="es-CL" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>SubRed Ingenieria</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicons/favicon.ico">
    <link rel="manifest" href="img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="vendors/prism/prism.css" rel="stylesheet">
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="css/theme.min.css" rel="stylesheet" />

  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark py-0" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="img/logo.png" alt="SubRed Ingenieria"
          width="200"
          height="100"
          class="d-inline-block align-text-top"/></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars text-white fs-3"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="servicios">Servicios</a></li>
              <li class="nav-item"><a class="nav-link" aria-current="page" href="planes">Planes</a></li>
              <li class="nav-item mt-2 mt-lg-0"><a class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page" href="login">Ingresar</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="bg-dark"><img class="img-fluid position-absolute end-0" src="img/hero/hero-bg.png" alt="" />

        <!-- ============================================-->
        <!-- <section> begin ============================-->
      <section class="text-center py-8">

        <div class="container">
          <div class="col-12 col-md-7 mx-auto">
            <h3 class="text-white fs-lg-6 fs-md-4 fs-3 my-1">Desarrollamos soluciones digitales.</h3>
          </div>
          <p class="w-md-75 text-light text-center mx-auto fs-1">Trabajamos junto a ti para comprender tus procesos y crear aplicaciones que optimicen la eficiencia, mejoren la gestión y te permitan escalar y crecer.</p>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-0 mt-5">

        <div class="container">
          <div class="gallery-wraper">
            <div class="img-wraper"><img class="img-fluid" src="img/gallery/1.png" alt="" /></div>
            <div class="img-wraper"><img class="img-fluid" src="img/gallery/2.png" alt="" /></div>
            <div class="img-wraper"><img class="img-fluid" src="img/gallery/3.png" alt="" /></div>
            <div class="img-wraper"><img class="img-fluid" src="img/gallery/4.png" alt="" /></div>
            <div class="img-wraper"><img class="img-fluid" src="img/gallery/5.png" alt="" /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="px-xl-8 px-md-5 px-3">
            <h1 class="text-white text-center fs-lg-6 fs-md-4 fs-3 my-2">Nuestros Developers</h1>
            <p class="w-md-75 text-light text-justify mx-auto fs-1">Profesionales apasionados y altamente capacitados en el campo del desarrollo web y la creación de software. Con una combinación de habilidades y experiencia en diseño, programación y gestión de proyectos, nos enorgullecemos de entregar soluciones innovadoras y personalizadas que superan las expectativas de nuestros clientes.</p>
          </div>
          <div class="row mt-7">
            <div class="col-md-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"><a href="#"><img class="img-fluid" src="img/team/1.png" alt="" /></a>
              <h1 class="fs-3 text-white mt-3">Javier Scott</h1>
              <p class="fs-1">The Boss</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"><a href="#"><img class="img-fluid" src="img/team/2.png" alt="" /></a>
              <h1 class="fs-3 text-white mt-3">Ignacio Schrute</h1>
              <p class="fs-1">JavaScripts Developer</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"><a href="#"><img class="img-fluid" src="img/team/3.png" alt="" /></a>
              <h1 class="fs-3 text-white mt-3">Ender Beetsley</h1>
              <p class="fs-1">Chatgpt Prompt</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-dark">

        <div class="container">
          <div class="px-xl-8 px-md-5 px-3">
            <h1 class="text-white text-center fs-lg-6 fs-md-4 fs-3 my-lg-1 "> "Creemos en lo que hacemos"</h1>
            <p class="w-md-75 text-light text-justify mx-auto fs-1">Estamos convencidos de que el éxito en el desarrollo web y la creación de software radica en la dedicación, el compromiso y la pasión por lo que hacemos. Nuestro enfoque se basa en comprender las necesidades de nuestros clientes y ofrecer soluciones a medida que realmente marquen la diferencia en sus negocios.</p>
            <div class="row mt-5">
              <div class="col-md-3"><img class="img-fluid" src="img/values/1.png" alt="" /></div>
              <div class="col-md-9 mt-2 mb-md-0">
                <h1 class="text-white fs-2 fs-lg-3 my-2">Estamos comprometidos:</h1>
                <p class="text-light fs-1">Nuestro compromiso se basa en la confianza mutua, la comunicación abierta y la búsqueda constante de la excelencia.</p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-3"><img class="img-fluid" src="img/values/2.png" alt="" /></div>
              <div class="col-md-9 mt-2 mb-md-0">
                <h1 class="text-white fs-2 fs-lg-3 my-2">Somos responsables:

                </h1>
                <p class="text-light fs-1">Entendemos la importancia de cumplir con nuestros plazos y entregar soluciones de calidad que realmente funcionen.</p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-3"><img class="img-fluid" src="img/values/3.png" alt="" /></div>
              <div class="col-md-9 mt-2 mb-md-0">
                <h1 class="text-white fs-2 fs-lg-3 my-2">Buscamos el progreso:</h1>
                <p class="text-light fs-1">Nos esforzamos por estar siempre a la vanguardia en cuanto a tecnología y conocimientos en nuestro campo. Estamos en constante aprendizaje y crecimiento, adaptándonos a las últimas tendencias y mejorando continuamente nuestras habilidades.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/anchorjs/anchor.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/prism/prism.js"></script>
    <script src="vendors/swiper/swiper-bundle.min.js"></script>
    <script src="js/theme.js"></script>

  </body>

</html>